# Версия приложения
VERSION=1.0.0

# GitHub Container Registry
GITHUB_USERNAME=antoniadi96

# PostgreSQL Configuration
POSTGRES_DB=prac
POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# PgAdmin Configuration
PGADMIN_EMAIL=admin@film.com
PGADMIN_PASSWORD=admin

# Backend Application
NODE_ENV=production
PORT=3000
LOGGER_TYPE=json
DATABASE_DRIVER=postgres
DATABASE_URL=postgresql://prac:prac@postgres:5432/prac

# Frontend Application
VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha