# Database Configuration
DATABASE_DRIVER="postgres" # or "mongodb"

# MongoDB Configuration
DATABASE_URL="mongodb://localhost:27017/film_afisha"

# PostgreSQL Configuration
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="prac"
POSTGRES_PASSWORD="prac"
POSTGRES_DB="prac"

# Application
NODE_ENV="development"
PORT=3000